.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}
.container div{
    display: flex;
    flex-direction: column;
    padding:10px 0;
}
input, button{
    font:inherit;
    margin: 5px 0;
}
#prime-output, #reverse-num-output, #str2-output{
    text-align: center;
}