body{
font-family: roboto;
background-color: #e5e9f4
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.left img{
    border-radius: 10px;
}
.right{
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first-name, .last-name, .password, .email, .number{
    display: block;
    margin:15px 0;
}
.accounts img{
    height: 32px;
    width: 32px;
}
.accounts{
    display: flex;
    justify-content: space-around;
}
.sign-up-text{
    text-align: center;
}
#signup-button ,a #signup-button{
width:-webkit-fill-available;
background-color:#8f2efd;
display:inline-block;
padding:0.1em;
border:2px solid rgba(255,255,255,0);
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
text-align:center;
transition: all 0.2s;
font-size: 25px;
}
.signup-button:hover{
    border-color: rgba(255,255,255,1);
    }
h1{
    font-family: roboto;
}
i{
    float: right;
}
.hidden{
    visibility: hidden;
}
#login{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
  }
a:link {
    text-decoration: none;
    color: white;
  }
#signup-button.shake{
    animation: shake 0.3s;
}
@keyframes shake{
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(3em);
    }
    40% {
      transform: translate(-3em);
    }
    60% {
      transform: translate(3em);
    }
    80% {
      transform: translate(-3em);
    }
    100% {
      transform: translate(0);
    }
  }